@import "./vendors/reset.scss";
@import "./global/typography.scss";
@import "./blocs/header.scss";
@import "./config/font.scss";
@import "./blocs/hero.scss";
@import "./blocs/experience.scss";
@import "./blocs/activite.scss";
@import "./blocs/activite2.scss";
@import "./blocs/offres.scss";
@import "./blocs/footer.scss";
@import "./blocs/experiencePage.scss";
@import "./blocs/actDescription.scss";
@import "./blocs/heroActivite.scss";
@import "./blocs/heroImmersion.scss";
@import "./blocs/page3d.scss";

.is-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.is-visible2 {
  opacity: 1;
  transform: translateY(0);
}