@mixin typo($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}

.typo__hero__title__p {
  @include typo("Noto Bold", 20px, white);
  letter-spacing: 5px;
}

.typo__hero__title__h1 {
  @include typo("Noto Bold", 80px, white);
  letter-spacing: 40px;
  line-height: 90px;
}

.typo__hero__p {
  @include typo("Noto", 20px, white);
}

.hero__form__div__number {
  @include typo("Noto", 42px, white);
}

.hero__form__div__month {
  @include typo("Noto", 15px, white);
}

.typo__form__a {
  @include typo("Noto", 15px, white);
}

.hero__form__div__h2 {
  @include typo("Noto", 13px, white);
}

.typo__header__ul {
  @include typo("Noto", 13px, white);
}

.typo__header__ul__selected {
  @include typo("Noto", 13px, white);
  border-bottom: solid 1px white;
}

.typo__header__link {
  @include typo("Noto", 30px, white);
}
.typo__font__p {
  @include typo("Noto", 16px, white);
}

.typo__experience__h2 {
  @include typo("Noto Bold", 20px, #181818);
}

.typo__experience__span {
  @include typo("Noto Bold", 36px, #181818);
}

.typo__experience__h3 {
  @include typo("Noto Bold", 35px, #bd9250);
}

.typo__experience__p {
  @include typo("Noto", 18px, #181818);
  line-height: calc(18px * 1.5);
}

.typo__experience__p__span {
  @include typo("Noto Bold", 18px, #bd9250);
}

.typo__offres__h2 {
  @include typo("Noto Bold", 20px, #181818);
  letter-spacing: 10px;
}
.typo__offres__h3 {
  @include typo("Noto Bold", 18px, #bd9250);
}
.typo__offres__p {
  @include typo("Noto", 15px, #181818);
  line-height: calc(15px * 1.5);
}
.typo__offres__time {
  @include typo("Noto Light", 15px, #181818);
}
.typo__offres__button {
  @include typo("Noto", 14px, #bd9250);
}
footer li {
  @include typo("Noto", 14px, white);
}

.typo__activite__h2 {
  @include typo("Noto Bold", 20px, #181818);
  letter-spacing: 5px;
}

.typo__activite__new {
  @include typo("Noto", 10px, white);
}

.typo__activite__h3 {
  @include typo("Noto Bold", 35px, #bd9250);
  line-height: calc(35px * 1.5);
}

.typo__activite__p {
  @include typo("Noto", 16px, #181818);
  line-height: calc(18px * 1.5);
}

.typo__activite__a {
  @include typo("Noto", 15px, #bd9250);
}

.typo__actDescription__h2 {
  @include typo("Noto Bold", 20px, #181818);
}

.typo__actDescription__span {
  @include typo("Noto Bold", 18px, #181818);
  line-height: calc(18px * 1.5);
}

.typo__actDescription__p {
  @include typo("Noto", 18px, #181818);
  line-height: calc(18px * 1.5);
}
.typo__experience__p1 {
  @include typo("Noto", 16px, #181818);
  line-height: calc(18px * 1.5);
}
.typo__experience__p2 {
  @include typo("Noto Bold", 16px, #181818);
  line-height: calc(18px * 1.5);
}

.typo__heroheroImmersion__p {
  @include typo("Noto", 20px, white);
  line-height: calc(20px * 1.5);
}
.typo__experiences__h3 {
  @include typo("Noto Bold", 16px, #181818);
}

.typo__heroheroImmersion__a {
  @include typo("Noto", 19px, white);
  line-height: calc(20px * 1.5);
}

.typo__page3d__p {
  @include typo("Noto Light", 16px, white);
  line-height: calc(20px * 1.5);
}
.typo__experiences__time {
  @include typo("Noto", 13px, #181818);
}
.typo__hero__3d {
  @include typo("Noto Bold", 18px, white);
}
.typo__page3d__h2 {
  @include typo("Noto", 25px, white);
}
