@mixin typo($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}

.typo__hero__title__p {
  @include typo("Roboto Light", 20px, white);
}

.typo__hero__title__h1 {
  @include typo("Roboto Light", 80px, white);
  letter-spacing: 40px;
}

.typo__header__ul {
  @include typo("Noto", 16px, white);
}
