.activite {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin-bottom: 56px;
  }

  .activite__groupe {
    display: flex;
    align-items: center;
    margin-left: 98px;
    margin-right: 98px;

    img {
      height: 38vh;
      min-width: 50%;
      object-fit: cover;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;

      h3 {
        margin-bottom: 30px;
        max-width: 40%;
        text-align: center; 
      }

      p {
        width: 60%;
        text-align: center;
      }
    }
  }

  a {
    margin-top: 30px;
    padding: 12px 33px;
    background: #bd9250;
    transition: background .2s;

    &:hover {
      background-color:#8f6e3d;
    }
  }
}