.activite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  h2 {
    margin-bottom: 120px;
    &::before {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #bd9250;
      position: absolute;
      transform: translate(-150%, 600%);
    }
    &::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #bd9250;
      position: absolute;
      transform: translate(30%, 600%);
    }
  }

  .activite__groupe {
    display: flex;
    justify-content: space-around;
    width: 85%;

    .activite__groupe__div {
      width: 40%;
      position: relative;
      div {
        margin: 40px 72px 72px 40px;

        h3 {
          margin-bottom: 25px;
        }

        p{
          width: 90%;
        }

        a {
          margin: 0;
          position: absolute;
          left: 40px;
          bottom: 35px;
        }
      }
    }

    .activite__groupe__1 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.35), 
        rgba(0, 0, 0, 0.35)
        ),url('../img/act2.jpg');
        background-size:cover;
        background-repeat:no-repeat;
      p {
        margin-bottom: 39px;
      }
    }

    .activite__groupe__2 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.35), 
        rgba(0, 0, 0, 0.35)
        ),url('../img/act1.jpg');
        background-size:cover;
        background-repeat:no-repeat;
      p {
        margin-bottom: 25px;
      }
    }
  }

  .button {
    margin: 0;
    margin-top: 50px;
    border: 1px solid #bd9250;
    border-radius: 5px;
    padding: 15px 30px;
    transition: background .3s, color .3s;
    &:hover {
      background: #bd9250;
      color: white;
    }
  }
}