.activite {
  display: flex;  
  position: relative;
  img {
    width: 50%;
    object-fit: cover;
  }

  .activite__container {
    width: 50%;
    background-color:  #F8F8F8;

    .activite__container__div {
      margin: 111px 53px 163px 129px;

      .typo__activite__new {
        padding: 3px 20px;
        background: #bd9250;
      }

      h2 {
        margin-top: 18px;
        margin-bottom: 40px;
      }

      .typo__activite__new {
        margin-bottom: 19px;
      }

      h3 {
        margin-bottom: 16px;
        margin-top: 16px;
      }

      div {
        margin-top: 53px;
        display: flex;

        a:nth-child(1) {
          margin-right: 53px;
        }

        a {
          text-decoration: none;
          border-radius: 5px;
          border: solid 1px #bd9250;
          padding: 10px 22px;
          transition: background .2s, color .2s; 

          &:hover {
            background: #bd9250;
            color: white;
          }
        }
      }
    }
  }
  .arrow__container {
    position: absolute;
    bottom: 15px;
    left: 20px;
    i {
      color: white;
      font-size: 50px;
      cursor: pointer;
      transition: color .2s;

      &:hover {
        color: #bd9250;
      }
    }

    i:nth-child(1){
      margin-right: 22px;
    }
  }
}