.experience {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #f8f8f8;
  position: relative;
  transition: opacity 0.5s, transform 0.5s;
  div {
    margin-left: 116px;
    display: flex;
    flex-direction: column;
    width: 80%;

    h2 {
      margin-bottom: 52px;
      margin-left: 70px;
      &::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: #bd9250;
        position: absolute;
        transform: translate(-150%, 450%);
      }
    }

    h3 {
      margin-bottom: 45px;
      width: 85%;
    }

    p {
      margin-right: 200px;
    }
  }

  img {
    position: absolute;
    right: -15px;
    top: 30px;
    height: 469px;
  }
}

.is-translating {
  animation: translate 1s forwards;
}
@keyframes translate {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
