.experience {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #F8F8F8;
  position: relative;
  div {
    margin-left: 116px;
    display: flex;
    flex-direction: column;
    width: 80%;

    h2 {
      margin-bottom: 52px;
      transform: translatex(75px);
      &::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: #bd9250;
        position: absolute;
        transform: translate(-150%, 450%);
      }
    }

    h3 {
      margin-bottom: 45px;
      width: 85%;
    }

    p {
      margin-right: 200px;
    }
  }

  img{
    position: absolute;
    right: -15px;
    top: 30px;
    height: 469px;
  }
}