.experience__hero {
  background: url("../img/experiencebackground.png") no-repeat;
  background-size: cover;
}

.presentation {
  transition: opacity .5s, transform .5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  width: 100vw;
  img {
    width: 540px;
  }
}
.presentation__text {
  margin-left: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 55vh;
  width: 50%;
  h2 {
    margin-left: 60px;
    &::before {
      content: "";
      width: 40px;
      height: 2px;
      background-color: #bd9250;
      position: absolute;
      transform: translate(-140%, 450%);
    }
  }
  .presentation__text__button {
    button {
      border: 1px solid #bd9250;
      border-radius: 5px;
      width: 200px;
      height: 45px;
      transition: background 0.3s, color 0.3s;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        background: #bd9250;
        color: white;
      }
    }
  }
  span {
    color: #bd9250;
  }
}

.certification {
  height: 100vh;
  width: 100vw;
  img {
    width: 100%;
  }
  .certifications__pictos {
    transition: opacity .5s, transform .5s;
    display: flex;
    justify-content: space-around;
    height: 30%;
    margin-top: 50px;
    padding-bottom: 70px;
  }
  .certifications__pictos__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
}
.aboutus {
  transition: opacity .5s, transform .5s;
  height: 80vh;
  width: 100%;
  h2 {
    margin-left: 130px;
    text-transform: uppercase;
    &::before {
      content: "";
      width: 40px;
      height: 2px;
      background-color: #bd9250;
      position: absolute;
      transform: translate(-140%, 450%);
    }
  }
}
.aboutus__wrapper {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: space-around;
  .aboutus__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-top: 50px;
    background-color: rgba(248, 248, 248, 0.815);
    border-radius: 10px;
    img {
      height: 40%;
    }
    .aboutus__article__text {
      margin-left: 20px;
      height: 60%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    button {
      border: 1px solid #bd9250;
      border-radius: 5px;
      width: 150px;
      height: 45px;
      transition: background 0.3s, color 0.3s;
      margin-bottom: 20px;
      margin-right: 20px;
      background: rgba(248, 248, 248, 0.815);
      cursor: pointer;
      &:hover {
        background: #bd9250;
        color: white;
      }
    }
  }
}
