header {
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
}
nav {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  li {
    margin-left: 20px;
  }
}
