header {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 60px;
  transition: background-color 0.3s;
  a {
    text-decoration: none;
    margin-left: 25px;
  }
  nav {
    margin-right: 25px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    li {
      cursor: pointer;
      margin-left: 20px;
      a {
        color: white;
        margin: 0;
      }
    }
    li:nth-child(4) {
      background-color: #bd9250;
      padding: 8px 21px;
      border-radius: 5px;
      transition: background-color 0.2s;
      border: 1px solid white;

      &:hover {
        background-color: #8f6e3d;
      }
    }
  }
}
.is-visible {
  background-color: #bd9250;
}
.is-white {
  border: 1px solid white;
}
