.hero {
  background: url("../img/background1.png") no-repeat;
  background-size: cover;
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b00,#39393974);
	opacity: .6; 
  }
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero__title {
    z-index: 2;
    margin-top: 262px;
    text-align: center;
    color: white;
    margin-bottom: 8vh;
    p {
      margin-bottom: 25px;
    }
  }

  .hero__form {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.365);
    border-radius: 8px;
    width: initial;

    .hero__form__div {
      position: relative;
      margin-top: 17px;
      margin-bottom: 13px;
      padding-right: 60px;
      margin-right: 32px;
      cursor: pointer;

      h2 {
        margin-bottom: 20px;
      }

      p:nth-child(2) {
        margin-bottom: 10px;
      }

      i {
        position: absolute;
        color: white;
        font-size: 16px;
        right: 15%;
        top: 50%;
      }
    }

    .hero__form__div:nth-child(1),
    .hero__form__div:nth-child(2) {
      border-right: solid 0.44px rgb(255, 255, 255);
    }

    .hero__form__div:nth-child(1) {
      margin-left: 33px;
    }

    a {
      padding: 15px 45px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
      text-decoration: none;
      margin-right: 39px;
      transition: background .2s;
    }

    a:hover {
      background: #bd9250;
    }
  }

  .hero__reseau {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 41px;
    right: 17px;

    i {
      cursor: pointer;
      font-size: 20px;
      color: white;
      margin-right: 30px;
    }
  }


  .scroll-downs {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -695px;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 8px 10px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
}
.hero__nav {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  top: 300px;
  height: 200px;
  width: 100px;
  .hero__nav__info {
    width: 5px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 20px;
  }
  p {
    margin-top: 80px;
  }
  .hero__nav__info--cursor {
    position: absolute;
    top: 0px;
    background-color: white;
    height: 10px;
    width: 5px;
    border-radius: 200px / 300px;
  }
}
.test {
  height: 10000px;
}
