.offres {
  align-items: center;
  background-color: white;
  height: 80vh;
  h2 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 50px;
    margin-top: 64px;
  }
  h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #bd9250;
    position: absolute;
    transform: translate(-600%, 600%);
  }
  h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #bd9250;
    position: absolute;
    transform: translate(600%, 600%);
  }
}
.offres__section {
  display: flex;
  justify-content: space-around;
  
  .offres__description {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 300px;
    height: 58vh;
    border-radius: 10px;
    position: relative;

    img {
      width: 100%;
      height: 210px;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    h3 {
      margin-bottom: 17px;
      margin-top: 23px;

    }

    p {
      margin-bottom: 44px;
    }

    .offres__description__text {
      margin-left: 20px;
      margin-right: 20px;
    }
    .offres__description__button {
      margin-left: 25%;
      margin-bottom: 30px;
    }
    button {
      position: absolute;
      border: 1px solid #bd9250;
      border-radius: 5px;
      width: 150px;
      height: 45px;
      background-color: #F8F8F8;
      transition: background 0.3s, color 0.3s;
      cursor: pointer;
      bottom: 5px;
      &:hover {
        background: #bd9250;
        color: white;
      }
    }
  }
}
