.offres {
  align-items: center;
  background-color: #181818;
  height: 90vh;
  h2 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #bd9250;
    position: absolute;
    transform: translate(-650%, 600%);
  }
  h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #bd9250;
    position: absolute;
    transform: translate(600%, 600%);
  }
}
.offres__section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .offres__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 300px;
    height: 479px;
    border-radius: 10px;
    .offres__description__text {
      margin-left: 20px;
      margin-right: 20px;
    }
    .offres__description__button {
      margin-left: 25%;
      margin-bottom: 30px;
    }
    button {
      border: 1px solid #bd9250;
      border-radius: 5px;
      width: 150px;
      height: 45px;
      transition: background 0.3s, color 0.3s;
      &:hover {
        background: #bd9250;
        color: white;
      }
    }
  }
}
