@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSans-Regular.woff"), url("../fonts/NotoSans-Regular.woff2");
}
@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSans-Bold.woff"), url("../fonts/NotoSans-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSans-Thin.woff"), url("../fonts/NotoSans-Thin.woff2");
  font-weight: light;
}
